#mobile-warning {
  color: white;
}

#mobile-warning p {
  margin-bottom: 10px;
}

@media (max-width: 1px) {
    #mobile-warning { display: block; }
}
  
@media (min-width: 1px) {
    #mobile-warning { display: none; }
}
